/.vscode
/venv
*.pyc
.qt_for_python/*
*/__pycache__/*

gen_exe.bat
build/*
fb_manage_v2.spec
code_ui_over/manage_Facebook_Account.py
dist/fb_manage_v2_debug.exe
dist/fb_manage_v2.exe
dist/fb_v2.zip
dist/data/data
